biopython==1.81
matplotlib==3.7.2
multipy==0.16
numpy==1.25.1
olga==1.2.4
pandas==2.0.3
plotnine==0.12.3
pympler==1.1
python_igraph==0.10.6
scipy==1.11.2
seaborn==0.12.2
scikit-learn==1.3.0
statsmodels==0.14.1
textdistance==4.5.0
tcrtrie @ git+https://github.com/MikePodsytnik/TCRtrie@0.1.2-tcrtriepy
tqdm==4.66.2
stringzilla==4.6.0
stringutils==1.0.6
umap-learn==0.5.3
pybind11==2.11.0
